{% extends "base.html" %}

{% block title %}Wiki - {{ app_title }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css">
{% endblock %}

{% block content %}
<div id="wiki-page-container" data-slug="{{ slug }}">
    <div class="text-muted text-center py-5">読み込み中...</div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
<script src="/static/js/wiki.js?v=5"></script>
<script>
    const wikiPage = new WikiPageView('{{ slug }}');
    wikiPage.init();
</script>
{% endblock %}
